@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #F4F4F4
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #F4F4F4
  }
}

body {
  background-color: var(--bg-color); /* Use the variable to set the background color */
}
